<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gameofcoding.automator"
    android:versionCode="1"
    android:versionName="1.0">

<uses-permission
    android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

<application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:name=".BaseApplication"
    android:theme="@style/BaseTheme"
    android:resizeableActivity="true">
    <!--Launcher Activity-->
<activity
    android:name=".activities.MainActivity"
    android:label="@string/app_name">
<intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
    </activity>
    <service
        android:name=".services.AutomatorService"
        android:label="@string/automator_service_label"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
    <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
    </intent-filter>
    <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/automator_service_meta_data" />
</service>
  </application>
</manifest>
